body {
  color: white;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Abril Fatface', cursive;
}

.navbar {
  background-color: transparent;
}

#intro {
  background-image: url('./assets/profile/pexels-magda-ehlers-2114014.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: auto;
  height: auto;
}

.bi {
  padding-left: 1%;
  margin-bottom: 3%;
}

#title {
  text-align: center;
}

.profile {
  margin: auto; 
  width:80%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 15%;
  height: 100%;
}

.profile_image {
  border-radius: 50%;
  border: 5px white solid;
  width:20%;
  height:20%;
  display:flex;
  margin-left: auto;
  margin-right: auto;
}


.nav-item {
  font-weight:bold
}

#about, #works, #skills {
  background-color: white; 
  color: black;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%
}

.caption {
  font-size: 12px;
  text-align: center;
  padding-bottom: 3%;
}

.col-4 {
  text-align: center;
}

.tech-stack:before{
  content:attr(aria-label);
  font-size:110%;
  font-weight:bold;
  margin-left:-15px;
}

.source-code {
  margin-left: auto; 
  margin-right: auto; 
  margin-top:5%
}

#divider-clouds {
  text-align: center;
  background-color: white;
}

#contact {
  background-color: #FFC069;
  text-align: center;
}

#contact-title {
  border-top: 1px black dotted;
/*  border-bottom: 1px black solid;*/
  padding-top: 3%;
  padding-bottom: 3%;
}

.skill-list {
  display: inline-block; 
  text-align: left;
}

footer {
  padding-top: 50px;
}