.navbar {
    background-color: transparent;
}

#homepage {
    background-image: url('./assets/pexels-magda-ehlers-2114014.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

#title {
    text-align: center;
    color: white;
}